{% extends 'layoutUser.html.twig' %}

{% block title %}
	{{parent()}}
	| Mes favoris
{% endblock %}

{% block body %}
	<main class="container-fluid section-fav">
		<h1 class="favoris-title m-5 text-center">Mes favoris</h1>
		<section class="video-list">
			<div class="container-fluid px-5">
				<div class="bloc-category-show">
					<div class="row">
						{% for video in app.user.favorite %}
							<div class="col-md-3 mt-3">
								<div class="grid-cat">
									{% include "/components/_blocVideo.html.twig" %}
								</div>
							</div>
						{% else %}
							<p class="text-center">Aucune vidéo en favoris.</p>
						{% endfor %}
					</div>
				</div>
			</div>
		</section>
	</main>
{% endblock %}
