{% extends 'layoutUser.html.twig' %}

{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('showVideo') }}
{% endblock %}

{% block title %}
	{{parent()}}
	| Accueil
{% endblock %}

{% block body %}
	<section class="section-home">
		{% for category in categories %}
			{% include "/components/_carrousel.html.twig" %}
		{% endfor %}
	</section>
{% endblock %}
