{% extends 'layoutUser.html.twig' %}

{% block title %}
    {{parent()}} | Home
{% endblock %}

{% block body %}
    <section>
        <h1 class="h1 text-center">
            Ze-Sport
        </h1>
    </section>
{% endblock %}
