{% extends 'base.html.twig' %}

{% block title %}Catégories
{% endblock %}

{% block body %}
	<section class="category-list text-center">
		<h1 class="category-title m-5">Catégories</h1>
		{% for category in categories %}
			<div class="d-grid gap-2 col-10 col-lg-7 py-1 mx-auto">
				<a class="category-link btn btn-outline-primary m-2 p-4" href="#" role="button">
					<h2 class="category-name">{{ category.name }}</h2>
				</a>
			</div>
		{% else %}
			Aucune catégorie trouvée.
		{% endfor %}
	</section>
{% endblock %}
