<form method="post" action="{{ path('app_admin_sponsor_delete', {'id': sponsor.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer ce sponsor?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sponsor.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
