{% extends 'layoutAdmin.html.twig' %}

{% block title %}Edit Sponsor
{% endblock %}

{% block body %}
	<h1 class="text-center m-3 mb-5">{{ "modifier une catégorie"|upper }}</h1>
		<div class="d-grid gap-2 col-10 py-1 mx-auto pb-3 mt-5">
			{{ include('admin_sponsor/_form.html.twig', {'button_label': 'Modifier'}) }}
	</div>
</div>{% endblock %}
