{% extends 'layoutAdmin.html.twig' %}

{% block title %}Edit Sponsor
{% endblock %}

{% block body %}
	<h1 class="fw-bold text-light mb-2 text-uppercase text-center">Modifiez le sponsor</h1>
	<div class="d-flex justify-content-center">
		<div class="text-center">
			{{ include('admin_sponsor/_form.html.twig', {'button_label': 'Modifier'}) }}
			<a href="{{ path('app_admin_sponsor_index') }}" class="btn btn-outline-primary my-4">Retour à la liste</a>
			{{ include('admin_sponsor/_delete_form.html.twig') }}
		</div>
	</div>
</div>{% endblock %}
