{% extends 'layoutAdmin.html.twig' %}

{% block title %}Admin | Ajout Sponsor
{% endblock %}

{% block body %}
	<main class="container-fluid admin-list p-3">
		<h1 class="text-center title-add">{{ "ajouter une bannière"|upper }}</h1>
		<div class="d-grid gap-2 col-10 py-1 mx-auto form-add pb-3">
			{{ include('admin_sponsor/_form.html.twig') }}
		</div>
	</main>
{% endblock %}
