{% extends 'layoutAdmin.html.twig' %}

{% block title %}New Sponsor{% endblock %}

{% block body %}
<main class="container-fluid">
    <h1>Ajouter un sponsor</h1>

    {{ include('admin_sponsor/_form.html.twig') }}

    <a href="{{ path('app_admin_sponsor_index') }}">Retour à la liste</a>
    </main>
{% endblock %}
