{% extends 'layoutAdmin.html.twig' %}

{% block title %}Admin | Accueil
{% endblock %}

{% block body %}
	<main class="admin-list">
		<h1 class="admin-title mb-5 text-center">Bonjour
			{{ app.user.firstName }}</h1>
		<section class="admin-text py-2 m-2 text-center">
			Bienvenue sur la partie administrateur.
			<span>
				<p>Pour vérifier que tout fonctionne,
					<a href="{{path("app_home")|nl2br}}">revenir à l'accueil</a>.
				</p>
			</span>
		</section>
	</main>
{% endblock %}
