.video-summary {
    .video-field {
        font-size: 1.5rem;
    }

    tbody {
        .video-description {
            width: 30%;
        }
    }
}

.video-show {
    min-height: 100vh;
}

.admin-list {
    min-height: 100vh;
}
