.video-summary {
    .video-field {
        font-size: 1.5rem;
    }

    tbody {
        .video-description {
            width: 30%;
        }
    }
}

.video-show {
    min-height: 100vh;
}

.admin-list,
.video-show {
    --space-nav-admin: 280px;
    max-height: 100vh;
    max-width: calc(100% - var(--space-nav-admin));
    margin-left: var(--space-nav-admin);
    padding-block: 2rem;
    overflow: auto;
}

.vich-image {
    max-height: 100px;
    max-width: 300px;
    object-fit: contain;
}

.title-add {
    margin-block: 3rem;
}

.form-add {
    margin-top: 4rem;
}

.form-text {
    color: $secondary;
}
