.grid-cat {
    .link-card-lock {
        .premium-badge {
            position: absolute;
            z-index: 2;
        }
        .img-lock {
            opacity: 0;
            position: absolute;
            z-index: 3;
        }
        .img-video-lock {
            position: absolute;
            z-index: 1;
        }
    }
}

.link-card {
    .title-video {
        position: absolute;
        padding: 2rem;
        opacity: 1;
        height: 100%;
        aspect-ratio: 16 / 9;
        display: flex;
        flex-direction: column-reverse;
        font-size: 1.5rem;
        text-shadow: 3px 2px 2px $dark;
        color: $light;
    }
    .title-video:hover {
        opacity: 0;
    }
}

.link-card-lock:hover .img-lock {
    opacity: 1;
}

.grid-cat img {
    width: 100%;
    aspect-ratio: 16 / 9;
    padding: var(--spacing-block);
    transition: all 150ms ease-in-out;
}

.grid-cat a {
    position: relative;
    display: block;
}
