.flash-container {
    position: absolute;
    z-index: 10;
    margin-top: 6rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.flash-message {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
}
