.section-home {
    margin-block: 4rem;
    a {
        text-decoration: none;
        color: $light;
    }
    .image-actuality {
        max-height: 600px;
        min-height: 400px;
        object-fit: cover;
    }
}

.searchbar {
    min-height: 100vh;
}

.legal-section {
    margin-top: 3rem;
}
