.navbar {
    background-color: $dark;
    color: $light;
    padding: .5rem;
    margin: .5rem;
    box-shadow: 0px 4px 4px rgba($dark, .5);
    border-radius: 20px;

    .navbar-brand{
        font-weight: $font-weight-title;
        font-family: $font-family-title;
    }

    img {
        width: 30px;
        height: 30px;
    }
}
