// assets/styles/global.scss
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&family=Montserrat:ital,wght@0,400;0,700;1,100&display=swap");

$font-family-body: "Cairo", sans-serif;
$font-family-title: "Montserrat", sans-serif;

$font-weight-body-title: bold;
$font-weight-title: bold;

// customize some Bootstrap variables
$primary: #00f0ff;
$secondary: #e05757;
$light: #e4e4e4;
$dark: #2a2a2a;
$intermediate: #3d3d3d;
$gray: #bdbdbd;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

body {
    font-family: $font-family-body;
    min-height: 100vh;
    background: $gray;
    background-image: url("/assets/images/illusion.png");
    background-image: url("/assets/images/illusion.png"),
        linear-gradient(
            0deg,
            rgba($black, 1) 0%,
            rgba($gray, 1) 50%,
            rgba($black, 1) 100%
        );
    color: $light;
}

h1, h2, h3, h4, h5, h6{
    font-family: $font-family-title;
    font-weight: $font-weight-title;
}
