.bloc-sponsor{
    background-color: $intermediate;
    box-shadow: 0px 2px 15px $dark;
}

.logo-sponsor-size {
    width: 100%;
    height: 200px;
    object-fit: contain;
    filter: grayscale(100%);
    transition: 150ms ease-out;
}

.logo-sponsor-size:hover {
    filter: grayscale(0%);
}
