@import "root";

.bloc-carrousel {
    --space-title: 4rem;
    --spacing-block: 0.5rem;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.title-carrousel {
    border-bottom: 2px solid $primary;
}

.slider {
    --items-per-screen: 4;
    --slider-index: 0;
    display: flex;
    transform: translateX(
        calc(var(--slider-index) * calc(-100% / var(--items-per-screen)))
    );
    transition: transform 250ms ease-in-out;
}

.slider .link-card,
.link-card-lock {
    flex: 0 0 calc(100% / var(--items-per-screen));
}

.link-card-lock {
    .premium-badge {
        position: absolute;
        z-index: 2;
    }
    .img-lock {
        opacity: 0;
        max-width: 437px;
        max-height: 246px;
        position: absolute;
        z-index: 3;
    }
    .img-video-lock {
        max-width: 437px;
        max-height: 246px;
        position: absolute;
        z-index: 1;
    }
}

.link-card-lock:hover .img-lock {
    opacity: 1;
}

.slider img,
.slider .img-lock,
.slider .img-video-lock {
    width: 100%;
    aspect-ratio: 16 / 9;
    padding: var(--spacing-block);
    transition: all 150ms ease-in-out;
}

.slider img:hover {
    filter: brightness(110%);
    transform: scale(1.02);
}

.handle {
    --handle-width: 40px;
    border: none;
    border-radius: 1rem;
    background-color: rgba($dark, 0.25);
    z-index: 10;
    min-width: var(--handle-width);
    max-width: var(--handle-width);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 150ms ease-in-out;
}

.left-handle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.right-handle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.handle:hover,
.handle:focus {
    background-color: rgba($dark, 0.5);
}

.arrow {
    color: $light;
    transition: transform 150ms ease-in-out;
}

.handle:hover .arrow,
.handle:focus .arrow {
    transform: scale(1.2);
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem calc(var(--space-title) + var(--spacing-block) * 2);
    align-items: center;
}

@media (max-width: 1000px) {
    .slider {
        --items-per-screen: 3;
    }
}

@media (max-width: 768px) {
    .slider {
        --items-per-screen: 2;
    }
}

@media (max-width: 574px) {
    .slider {
        --items-per-screen: 1;
    }
}
