@import "root";

:root {
    --space-title: 4rem;
    --spacing-block: 0.5rem;
}

.bloc-carrousel {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.slider {
    --items-per-screen: 4;
    --slider-index: 0;
    display: flex;
    flex-grow: 1;
    transform: translateX(calc(var(--slider-index) * calc(-100% / var(--items-per-screen))));
    transition: transform 250ms ease-in-out;
}

.slider .link-card {
    flex: 0 0 calc(100% / var(--items-per-screen));
    max-width: calc(100% / var(--items-per-screen));
    width: 25%;
}

.slider img {
    width: 100%;
    aspect-ratio: 16 / 9;
    padding: var(--spacing-block);
}

.handle {
    border: none;
    flex-grow: 0;
    background-color: rgba($dark, 0.25);
    z-index: 10;
    width: calc(5rem - var(--spacing-block));
    margin: calc(var(--spacing-block)* 2) 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 150ms ease-in-out;
}

.left-handle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.right-handle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.handle:hover,
.handle:focus {
    background-color: rgba($dark, 0.5);
}

.arrow {
    font-size: 8rem;
    color: $light;
    transition: transform 150ms ease-in-out;
}

.handle:hover .arrow,
.handle:focus .arrow {
    transform: scale(1.2);
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem calc(var(--space-title) + var(--spacing-block) * 2);
    align-items: center;
}

.title {
    font-size: 2rem;
    margin: 0;
}

@media (max-width: 1000px) {
    .slider {
        --items-per-screen: 3;
    }
}

@media (max-width: 768px) {
    .slider {
        --items-per-screen: 2;
    }
}

@media (max-width: 574px) {
    .slider {
        --items-per-screen: 1;
    }
}
