@import "root";

.category-list {
    margin-top: 3rem;
}

.category-link {
    box-shadow: 0px 4px 4px rgba($dark, 0.25);
    border: 2px rgba($primary, 1) solid;
    border-radius: 0.375rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6.25rem;
    margin-top: 2rem;

    .category-name {
        position: absolute;
        background-origin: border-box;
        z-index: 2;
        text-shadow: 5px 5px 15px $dark;
    }

    .category-background {
        position: absolute;
        object-fit: cover;
        border-radius: 0.375rem;
        height: 6.1rem;
        width: 100%;
        opacity: 0.5;
        z-index: -1;
    }

    .category-background:hover {
        opacity: 1;
    }
}

.category-link:hover {
    color: $light;
    border: 2px rgba($light, 1) solid;
}
