@import "root";

.video-list {
    margin-top: 7rem;
    min-height: 100vh;
    a {
        text-decoration: none;
        color: $light;
    }
}

.video-col {
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba($dark, 0.25);
}

.category-title {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid $primary;
}
