@import "root";

.title-show {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid $primary;
}

.title-view h2{
    font-size: 25px;
}

.title-view p{
    font-size: 20px;
}

.video-col{
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba($dark, .25);
}

.img-ads{
    width: 100%;
    height: fit-content;
    object-fit: contain;
}

.btn-left, .btn-love {
    background-color: rgba($primary, .6);
    i {
        color: $secondary;
    }
}

.btn-left:hover, .btn-love:hover {
    background-color: $primary;
}

.container{
    margin-top: 7rem;
}
