{% extends 'layoutAdmin.html.twig' %}

{% block title %}Admin | Modification catégorie{% endblock %}

{% block body %}
    <main class="container-fluid admin-list p-3">
		<h1 class="text-center title-add">{{ "modifier une catégorie"|upper }}</h1>
		<div class="d-grid gap-2 col-10 py-1 mx-auto form-add pb-3 mt-5">
			{% include 'admin_cat/_form.html.twig' with {'button_label': 'Modifier', 'button_class': 'btn-success'} %}
		</div>
	</main>
{% endblock %}
