{% if not app.user %}
	{% if video.public == true %}
		{% include "/components/_thumbnail.html.twig" %}
	{% else %}
		<a href="{{path('app_login')}}" class="link-card">
			<img src="{{asset('build/images/LOCK.png')}}" alt="Connexion obligatoire" class="img-video-lock">
		</a>
	{% endif %}
{% else %}
	{% include "/components/_thumbnail.html.twig" %}
{% endif %}
