<div class="bloc-carrousel">
	<button class="handle left-handle"></button>
	<div class="slider">
		<img src="https://via.placeholder.com/210/00f0ff?text=1">
		<img src="https://via.placeholder.com/220/00f0ff?text=2">
		<img src="https://via.placeholder.com/230/00f0ff?text=3">
		<img src="https://via.placeholder.com/240/00f0ff?text=4">
		<img src="https://via.placeholder.com/250/00f0ff?text=5">
		<img src="https://via.placeholder.com/260/00f0ff?text=6">
		<img src="https://via.placeholder.com/270/00f0ff?text=7">
		<img src="https://via.placeholder.com/280/00f0ff?text=8">
	</div>
	<button class="handle right-handle"></button>
</div>
