<div class="container">
    <div class="slider">
        <img src="https://via.placeholder.com/210?text=1">
        <img src="https://via.placeholder.com/220?text=2">
        <img src="https://via.placeholder.com/230?text=3">
        <img src="https://via.placeholder.com/240?text=4">
        <img src="https://via.placeholder.com/250?text=5">
        <img src="https://via.placeholder.com/260?text=6">
        <img src="https://via.placeholder.com/270?text=7">
        <img src="https://via.placeholder.com/280?text=8">
    </div>
</div>