<footer class="text-center text-lg-start text-white fixed-bottom">

	<div class="container p-4 pb-0">

		<section class="">

			<div class="row align-items-center">

				<div class="col-md-3 col-lg-3 mx-auto my-4 text-center">
					<a href="#">
						<img alt="logo" src="{{ asset('build/images/logoZeSport.png') }}" height="50px" width="50px" href="#">
					</a>
				</div>

				<div class="footer-nav-links col-md-3 col-lg-3 mx-auto my-4 text-center">
					<a class="text-uppercase font-weight-bold mb-0 text-decoration-none" href="#">Catégories</a>
				</div>

				<div class="footer-nav-links col-md-3 col-lg-3 mx-auto my-4 text-center">
					<a class="text-uppercase font-weight-bold mb-0 text-decoration-none" href="#">Favoris</a>
				</div>

			</div>

		</section>

		<section class="p-4">
			<div class="row justify-content-center align-items-center">
				<div class="col-md-6 text-center text-md-end">
					<div>
						<a class="text-white text-decoration-none" target="_blank" href="https://www.economie.gouv.fr/entreprises/site-internet-mentions-obligatoires">Mentions légales</a>
					</div>
				</div>
				<div class="col-md-6 text-center text-md-start ">
					<a class="text-white text-decoration-none" href="#">S'inscrire</a>
				</div>
			</div>
		</section>
	</div>
</footer>
