<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<div class="left d-flex justify-content-center flex-wrap">
			<button class="navbar-toggler text-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon text-light"></span>
			</button>

			<div class="collapse navbar-collapse justify-content-start" id="navbarNavAltMarkup">
				<ul class="navbar-nav mx-auto">
					<li class="nav-item">
						<a class="navbar-brand text-light" href="#">Ze-Sport</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Accueil</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Catégories</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Favoris</a>
					</li>

				</ul>
			</div>

			<ul class="navbar-nav">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
						<img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp" class="rounded-circle" height="30" alt="Portrait of a Woman" loading="lazy"/>
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<li>
							<a class="dropdown-item" href="#">Paramètres</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Déconnexion</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<span class="input-group-text d-flex align-items-end text-white border-0" id="search-addon">
			<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-search" viewbox="0 0 30 30">
				<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
			</svg>
		</span>
	</div>
</div></nav>
