<section class="bloc-sponsor bg-gray mt-5">
	<ul class="d-flex flex-wrap nav justify-content-center">
			{% for sponsor in sponsors %}
		<li class="nav-item">
				<a href={{ sponsor.link }} class="px-5 text-decoration-none">
					<img src="{{ asset('build/images/placeHolder.png') }}" alt="{{ sponsor.logo }}" class="py-5">
				</a>
		</li>
			{% endfor %}
	</ul>
</section>
