<section class="py-3 my-4">
	<ul class="nav justify-content-center pb-3 mb-3">
		<li class="nav-item">
			{% for sponsor in sponsors %}
            <img src="{{ asset('build/images/placeHolder.png') }}" alt="{{ sponsor.logo }}">
				<a href= {{ sponsor.link }} class="px2 text-decoration-none">
					</a>
			{% endfor %}
		</li>
	</ul>
</section>

